html {
    background-color: grey;
}
.cadre {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1, h2, h3, h4, h5, button {
    font-family: "Arial";
    text-transform: uppercase;
}
.interface {
    background-color: lightblue;
    margin: 10px 0px;
}
.interface .bouton-partie {
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface button {
    cursor: pointer;
    padding: 8px;
    background: transparent;
    border: none;
    margin-top: 10px;
    font: bold 16px 'Arial'
}
.interface button i {
    border: 1px solid black;
    border-radius: 15px;
    padding: 3px;
    margin-right: 5px;
}
.grid > * {
    padding: 10px 0;
}
.grille {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 30% 5% auto 5% 30%;
}
.score-actuel {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.score-actuel h5 {
    margin: 15px 0 20px 0;
}
.score-actuel h3 {
    margin: 0 0 10px 0;
    color: white;
    font-size: xx-large;
    word-break: break-all;
}
.boutons-joueurs {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
@media screen and (min-width: 1200px) {
    .interface {
        width: 75%;
    }
    .grille h2 {
        font-size: 21pt;
    }
    .grille h1 {
        font-size: 30pt;
    }
    #canvas-de {
        width: 102px;
        height: 102px;
    }
    .score-actuel {
        padding: 0px 30px;
    }
}
@media screen and (min-width: 850px) and (max-width: 1199px) {
    .interface {
        width: 95%;
    }
    .grille h2 {
        font-size: 18pt;
    }
    .grille h1 {
        font-size: 27pt;
    }
    #canvas-de {
        width: 85px;
        height: 85px;
    }
    .score-actuel {
        padding: 0px 25px;
        margin-bottom: 10px;
    }
    .score-actuel h5, .boutons-joueurs {
        font-size: 9pt;
    }
    .score-actuel h3 {
        font-size: 14pt;
    }
}
@media screen and (min-width: 600px) and (max-width: 849px) {
    .interface {
        width: 100%;
    }
    .interface button {
        font: bold 14px 'Arial'
    }
    .grille h2 {
        font-size: 15pt;
    }
    .grille h1 {
        font-size: 27pt;
    }
    #canvas-de {
        width: 72px;
        height: 72px;
    }
    .score-actuel {
        padding: 0px 20px;
        margin-bottom: 10px;
    }
    .score-actuel h5, .boutons-joueurs {
        font-size: 10pt;
    }
    .score-actuel h3 {
        font-size: 15pt;
    }
}
@media screen and (max-width: 599px) {
    .interface {
        width: 100%;
    }
    .interface button {
        font: bold 12px 'Arial'
    }
    .grille h2 {
        font-size: 13pt;
    }
    .grille h1 {
        font-size: 25pt;
    }
    #canvas-de {
        width: 62px;
        height: 62px;
    }
    .score-actuel {
        padding: 0px 20px;
        margin-bottom: 10px;
    }
    .score-actuel h5, .boutons-joueurs {
        font-size: 7pt;
    }
    .score-actuel h3 {
        font-size: 12pt;
    }
}
#canvas-de, #score-de {
    background-color: lightcyan;
}
.jeu {
    margin-top: 10px;
    display: grid;
    justify-items: center;
}
.boutons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cacher {
    visibility: hidden;
}
.griser {
    opacity: 0.3 !important;
}
.transparent {
    background: transparent;
}